[Desktop Entry]
Type=Application
Version=1.0
Name=Jibooru
Comment=Qt image collection viewer
Path=/usr/bin/
Exec=jibooru_app
Icon=jibooru
Terminal=false
Categories=Qt;Utility
